services:
  blocky:
    image: spx01/blocky:{{ blocky_version }}
    container_name: blocky
    restart: unless-stopped
    hostname: {{ ansible_fqdn }}
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "4000:4000/tcp"
    environment:
      - TZ=Europe/Stockholm
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config.yml:/app/config.yml:ro
