services:
  komga:
    image: gotson/komga:{{ komga_version }}
    container_name: komga
    volumes:
      - type: bind
        source: ./config
        target: /config
      - type: bind
        source: ./data
        target: /data
      - type: bind
        source: /etc/timezone
        target: /etc/timezone
        read_only: true
    ports:
      - 25600:25600
    user: "0:0"
    restart: unless-stopped
