---
- name: Download node exporter
  ansible.builtin.unarchive:
    src: https://github.com/prometheus/node_exporter/releases/download/v1.10.2/node_exporter-1.10.2.linux-amd64.tar.gz
    dest: /tmp
    remote_src: true

- name: Move binary
  ansible.builtin.copy:
    src: /tmp/node_exporter-1.10.2.linux-amd64/node_exporter
    dest: /usr/local/bin/node_exporter
    remote_src: true
    mode: 0755

- name: Copy systemd service
  ansible.builtin.template:
    src: templates/systemd/service/node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service
    mode: 0755

- name: Start and enable node exporter
  ansible.builtin.systemd_service:
    name: node_exporter.service
    daemon_reload: true
    enabled: true
    state: started
