---
- name: Reboot if new kernel
  hosts: vm,vps
  gather_facts: true
  tasks:

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Upgrade apt packages
      ansible.builtin.apt:
        upgrade: true

    - name: Run kernel check script
      ansible.builtin.command:
        cmd: /etc/zabbix/scripts/check_kernel
      register: _check_kernel
      changed_when: false

    - when: not _check_kernel.stdout == "Running latest installed kernel"
      block:
        - name: Zabbix set-maintenance
          ansible.builtin.include_tasks:
            file: tasks/zabbix/set-maintenance.yml
          vars:
            maintenance_message: "New kernel: {{ ansible_fqdn }}"

        - name: Reboot
          ansible.builtin.reboot:
            reboot_timeout: 300

        - name: Autoremove
          ansible.builtin.apt:
            autoremove: true
