---
- name: Reboot if new kernel
  hosts: vm,vps
  gather_facts: true
  tasks:

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Upgrade apt packages
      ansible.builtin.apt:
        upgrade: true

    - name: Autoremove
      ansible.builtin.apt:
        autoremove: true

    - name: Run kernel check script
      ansible.builtin.command:
        cmd: /etc/zabbix/scripts/check_kernel
      register: _check_kernel
      changed_when: false

    - when: not _check_kernel.stdout == "Running latest installed kernel"
      block:
        - name: Zabbix set-maintenance
          ansible.builtin.include_tasks:
            file: tasks/zabbix/set-maintenance.yml
          vars:
            maintenance_message: "New kernel: {{ ansible_fqdn }}"
            maintenance_time: 15

        - name: Reboot
          ansible.builtin.reboot:
            reboot_timeout: 3
          failed_when: false

        - name: Wait for boot
          ansible.builtin.wait_for:
            host: "{{ ansible_fqdn }}"
            port: "{{ default_ssh_port }}"
            delay: 2
            timeout: 300
          delegate_to: localhost


- name: Decrypt if dropbear
  hosts: vps
  gather_facts: false
  strategy: linear
  tasks:

    - ansible.builtin.import_role:
        name: techolsy.infra.dropbear
      when: ansible_inventory_fde is defined and ansible_inventory_fde
      vars:
        dropbear_action: decrypt

