---
- name: Update dns
  hosts: dns
  gather_facts: true
  serial: 1
  tasks:

    - name: Copy config
      ansible.builtin.template:
        src: templates/dns/config.yml.j2
        dest: "{{ blocky_config_file }}"
        mode: 0644
      register: _config_copy

    - name: Restart container
      community.docker.docker_container:
        name: blocky
        state: started
        restart: true
      when: _config_copy.changed

    - name: Check if container is healthy
      community.docker.docker_container_info:
        name: blocky
      until: "_container_info.container.State.Health.Status == 'healthy'"
      register: _container_info
      retries: 15
      delay: 10
