---
- name: Default vm setup
  hosts: vm
  gather_facts: true
  handlers:

    - name: Copy motd-datestamp
      ansible.builtin.copy:
        dest: /etc/motd
        mode: 0644
        content: |
          Server setup date: {{ now(utc=true, fmt='%Y-%m-%d') }}

    - name: Zabbix set-maintenance
      ansible.builtin.include_tasks:
        file: tasks/zabbix/set-maintenance.yml
      vars:
        maintenance_message: "New host: {{ ansible_fqdn }}"
        maintenance_time: 15

    - name: Restart zabbix-agent
      ansible.builtin.systemd_service:
        name: zabbix-agent2
        state: restarted

    - name: Restart prom-container
      community.docker.docker_container:
        name: prometheus
        state: started
        restart: true
      delegate_to: "{{ metric_host }}"

    - name: Reboot
      ansible.builtin.reboot:
        reboot_timeout: 300

  tasks:

    - name: Check if vg0 swap disk exist
      ansible.builtin.stat:
        dest: /dev/mapper/0-swap
      register: _vg0_swap

    - ansible.builtin.include_tasks:
        file: tasks/swap/remove.yml
      when: _vg0_swap.stat.exists

    - name: Check if vg1 swap disk exist
      ansible.builtin.stat:
        dest: /dev/mapper/1-swap
      register: _vg1_swap

    - ansible.builtin.include_tasks:
        file: tasks/swap/add.yml
      when: not _vg1_swap.stat.exists

    - name: Make sure cloud-init is absent
      ansible.builtin.apt:
        purge: true
        name: cloud-init
        state: absent

    - name: Make sure /etc/cloud is absent
      ansible.builtin.file:
        dest: /etc/cloud
        state: absent

    - name: Make sure dangling cloud-init files is removed
      community.general.file_remove:
        path: "{{ item.path }}"
        pattern: "{{ item.pattern }}"
      loop:
        - path: /etc/network/interfaces.d
          pattern: "*cloud-init"
        - path: /var/log
          pattern: "cloud-init*"

    - name: Make sure /etc/network/interfaces is absent
      ansible.builtin.file:
        dest: /etc/network/interfaces
        state: absent

    - name: Copy resolv.conf
      ansible.builtin.copy:
        dest: /etc/resolv.conf
        mode: 0644
        content: |
          domain {{ local_domain }}
          search {{ local_domain }}
          nameserver {{ nameserver1 }}
          nameserver {{ nameserver2 }}

    - name: Make sure systemd interface exists
      ansible.builtin.template:
        src: templates/systemd/network/interface.network.j2
        dest: /etc/systemd/network/{{ ansible_default_ipv4.interface }}.network
        mode: 0644

    - name: Make sure networkd is enabled and running
      ansible.builtin.systemd_service:
        name: systemd-networkd.service
        enabled: true
        state: started
      notify: Reboot

    - name: Make sure default packages are installed
      ansible.builtin.apt:
        pkg:
          - psmisc
          - net-tools
          - cloud-guest-utils
          - curl
          - ncdu
          - htop
          - iotop
          - vim
          - tmux
          - gnupg
        state: present
        update_cache: true

    - name: Make sure template users is absent
      ansible.builtin.user:
        name: "{{ item }}"
        state: absent
        remove: true
      loop: "{{ template_users }}"

    - name: Make sure root password is set
      ansible.builtin.user:
        name: root
        password: "{{ root_password }}"

    - name: Get apt package facts
      ansible.builtin.package_facts:
        manager: apt

    - ansible.builtin.include_tasks:
        file: tasks/zabbix/install-agent.yml
      when: '"zabbix-agent2" not in ansible_facts.packages'

    - name: Copy zabbix config file
      ansible.builtin.copy:
        dest: /etc/zabbix/zabbix_agent2.conf
        mode: 0644
        content: |
          PidFile=/var/run/zabbix/zabbix_agent2.pid
          LogFile=/var/log/zabbix/zabbix_agent2.log
          LogFileSize=0
          Server={{ zabbix_host }}
          ServerActive={{ zabbix_host }}
          Hostname={{ ansible_hostname }}
          Include=/etc/zabbix/zabbix_agent2.d/*.conf
          PluginSocket=/run/zabbix/agent.plugin.sock
          ControlSocket=/run/zabbix/agent.sock
          Include=./zabbix_agent2.d/plugins.d/*.conf
          AllowKey=system.run[*]
      notify: Restart zabbix-agent

    - name: Add to zabbix
      delegate_to: "{{ zabbix_host }}"
      vars:
        ansible_zabbix_auth_key: "{{ zabbix_auth_key }}"
        ansible_network_os: community.zabbix.zabbix
        ansible_connection: httpapi
        ansible_httpapi_port: 443
        ansible_httpapi_use_ssl: true
        ansible_httpapi_validate_certs: false
        ansible_zabbix_url_path: "/"
      community.zabbix.zabbix_host:
        host_name: "{{ ansible_fqdn }}"
        visible_name: "{{ ansible_fqdn }}"
        host_groups: "{{ zabbix_host_groups }}"
        link_templates: "{{ zabbix_link_templates }}"
        status: enabled
        state: present
        interfaces:
          - type: 1
            main: 1
            useip: 1
            ip: "{{ ansible_inventory_ip }}"
            dns: "{{ ansible_fqdn }}"
            port: 10050
      notify: Zabbix set-maintenance

    - name: Copy hotplug rules
      ansible.builtin.copy:
        dest: /lib/udev/rules.d/80-hotplug-cpu-mem.rules
        content: |
          SUBSYSTEM=="cpu", ACTION=="add", TEST=="online", ATTR{online}=="0", ATTR{online}="1"
          SUBSYSTEM=="memory", ACTION=="add", TEST=="state", ATTR{state}=="offline", ATTR{state}="online"
        mode: 0644
      notify: Reboot

    - name: Copy root certificate
      ansible.builtin.copy:
        dest: /usr/local/share/ca-certificates/{{ item.name }}
        mode: 0644
        content: "{{ item.content }}"
      loop: "{{ root_certificates }}"
      register: copy_root_certs

    - name: Update ca trust # noqa no-handler
      ansible.builtin.command:
        cmd: update-ca-certificates
      changed_when: false
      when: copy_root_certs.changed

    - ansible.builtin.import_role:
        name: techolsy.infra.setup
      vars:
        setup_action: vm

    - name: Check if node exporter exists
      ansible.builtin.stat:
        dest: /usr/local/bin/node_exporter
      register: _node_exporter

    - ansible.builtin.include_tasks:
        file: tasks/node-exporter/install.yml
      when: not _node_exporter.stat.exists

    - name: Copy prom config
      ansible.builtin.template:
        src: templates/hosts/grafana/prometheus.yml.j2
        dest: "{{ metric_conf }}"
        mode: 0644
      delegate_to: "{{ metric_host }}"
      notify: Restart prom-container

    - name: Add setup mark
      ansible.builtin.command:
        cmd: touch /root/.ansible-setup-done
      args:
        creates: /root/.ansible-setup-done
      notify: Copy motd-datestamp
